.stock-match-item{
    padding-right: 11px;
}

.nav-item{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-right: 11px;
    color:rgb(114, 114, 114);
    font-size: 105%;
}

.github-link{
    color:rgb(114, 114, 114);
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 105%;
}